extends layout

block content
  .topContainer
    h1.headTitleText= title
    p.titleText Welcome to #{title}

    .mainContainer
      button.addBook.btn.btn-primary.btn-block(type='button', data-toggle='modal', data-target='#formModal') Add Book
      br
      .wrapper
        ul.storeContainer
          for book in bookstore
            li.bookContainer.item(id=book.id + '-item')
              img.bookCover(src=book.image_url, alt='book cover')
              .bookText
                p= book.title
                p= book.author
              button.btn.description.btn-default(data-toggle="modal" data-target=`#description${book.id}Modal`, data-id=book.id) Show description
              .bottom-buttons
                button.btn.btn-default.edit-book(data-toggle='modal' data-target=`#edit${book.id}formModal`, data-id=book.id)
                  span.glyphicon.glyphicon-edit(aria-hidden='true' )
                  form.deleteContainer(method='POST', action='/delete/'+ book.id)
                    button.btn.btn-danger.delete-book(type="submit")
                      span.glyphicon.glyphicon-remove(aria-hidden='true')

            #formModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='formModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  form(method='POST', action='/')
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#formModalLabel.modal-title Enter book information
                    .modal-body
                      .form-group
                        label Title
                        input.form-control(type='text', name='title')
                      .form-group
                        label Author
                        input.form-control(type='text', name='author')
                      .form-group
                        label Description
                        textarea.form-control(type='text', name='description')
                      .form-group
                        label Genre
                        input.form-control(type='text', name='genre')
                      .form-group
                        label Image Url
                        input.form-control(type='text', name='image')
                    .modal-footer
                      button.btn.btn-default(type='button', data-dismiss='modal') Close
                      input.btn.btn-primary(type='submit', value='Save')

            .modal.fade(id=`edit${book.id}formModal`, tabindex='-1', role='dialog', aria-labelledby='editFormModalLabel')
              .modal-dialog(role='document')
                .modal-content
                  form(method='POST', action='/edit/'+ book.id)
                    input(type='hidden', id='edit-form-id', name='id', value=book.id)
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                      h4#editFormModalLabel.modal-title=`Edit: ${book.title}`
                    .modal-body
                      .form-group
                        label Title
                        input.form-control(type='text', name='title', id="edit-form-name", value=book.title )
                      .form-group
                        label Author
                        input.form-control(type='text', name='author', id="edit-form-author", value=book.author )
                      .form-group
                        label Description
                        textarea.form-control(type='text', name='description', id="edit-form-description", value=book.description)
                      .form-group
                        label Genre
                        input.form-control(type='text', name='genre', id="edit-form-genre", value=book.genre )
                      .form-group
                        label Image Url
                        input.form-control(type='text', value=book.image_url, name='image_url', id="edit-form-image")
                    .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary(type='submit', value='save' ) Save

            .modal.fade(id=`description${book.id}Modal`, tabindex='-1', role='dialog', aria-labelledby='descriptionModalLabel', aria-hidden="true")
              .modal-dialog(role='document')
                .modal-content.closeDescription
                      .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                        h4#descriptionModalLabel.modal-title=book.title
                      .modal-body.description
                        .form-group.sectionOne
                          .leftContainer
                              img.detailsBookCover(src=book.image_url, alt='book cover')
                          .rightContainer
                              p=`Author: ${book.author}`
                              p=`Genre: ${book.genre}`
                              button.btn.description.btn-primary(data-toggle="collapse" href=`#description${book.id}`, aria-expanded="false" aria-controls=`description${book.id}`) Details
                              .collapse(id=`description${book.id}`)
                                p=`Description:`
                                p=book.description
                      .modal-footer
                        button.btn.btn-default.description(type='button', data-dismiss='modal', data-target=`#description${book.id}Modal`, aria-label='Close') Close
